$zero:0;
$default-font-size:62.5%;
$min-font-weight:200;
$med-font-weight:400;
$max-font-weight:600;
$umax-font-weight:800;
$body-font-size:1vw;
$default-line-height:1.7;
$font-color:#777;
$link-color:#2980b9;
