.products-table{
    border:1px solid rgb(185, 182, 182);
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,.5);
    animation: moveInLeft 0.4s ease-in-out;
  }
  
  .products-table__buttons{
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  
  }
  .products-table__buttons--edit{
    background-color:rgb(197, 197, 34);
  }
  .products-table__buttons--delete{
    color:red
  }
  .products-table__buttons--info{
    color:#008CBA;
  }
    .products-table__buttons--info:hover{ 
      color: white;
    }
  .products-table__buttons--delete:hover{ 
    color: white;
  }
  .info-icon:hover{ 
    color: blue
  }


.products-table-buttons{

border-radius: 40%;


}











  .stock-count-container{
    width: 100%;

    height: 100%;
    background-color:#dadada;
    border-radius: 0.1rem;
  }